body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif
}

hr {
    
    width: 50%;
}
body {
    font-size: 16px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 40px;

}

td:hover {
    cursor: pointer;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.students:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}